
body {
    font-family: serif;
    font-weight: bold;
    background-color:#FCDEC0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.mini-container {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 20px;
    
    
}

.current-date, .current-time {
    font-size: 1.2em;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.container {
    
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 10px 10px 10px 10px  rgba(0,0,0,0.1);
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-navigation button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.calendar-navigation button:hover {
    background-color: #0056b3;
}

#currentMonth {
    font-size: 1.2em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar div {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.calendar .today {
    background-color: #007bff;
    color: #fff;
}

